p{
    font-family: 'Consolas';
    font-size: 16px;
    color: #0094ff;
}

p:first-line{
    font-weight: bold;
}

p:first-letter{
	font-family: 'Edwardian Script ITC';
    font-size: 32px;
    line-height: 150%;
}