ol,
ul {
  list-style: none;
}
body,
div,
header,
nav,
ul,
li,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
  font-size: 16px;
}
#wrapper {
  border: 1px solid black;
  height: 230px;
  width: 340px;
  border-radius: 4px;
  margin: 20px;
}
.tab-strip {
  display: block;
  position: relative;
}
.tab-strip:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.tab-strip > li {
  float: left;
}
.tab-strip li:last-of-type .tab-btn {
  border-right: none;
}
.tab-strip .tab-btn {
  color: black;
  font-size: 22px;
  display: inline-block;
  text-align: center;
  width: 84px;
  height: 36px;
  line-height: 36px;
  text-decoration: none;
  border: 1px solid black;
  border-left: none;
  border-top: none;
  border-radius: 4px;
  background: #ababab;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ababab), color-stop(1, #ededed));
  background: -ms-linear-gradient(bottom, #ababab, #ededed);
  background: -moz-linear-gradient(center bottom, #ababab 0, #ededed 100%);
  background: -o-linear-gradient(#ededed, #ababab);
}
.tab-strip .tab-btn:hover {
  background: #eee;
}
.tab-strip .tab-content {
  position: absolute;
  top: 37px;
  left: 0;
  width: 340px;
  height: 192px;
  display: none;
}
.tab-strip .current .tab-content {
  display: block;
}
.tab-strip .current .tab-btn {
  font-weight: bold;
  border-bottom: none;
  border-radius: 0;
  background: none;
}
.tab-content {
  padding: 13px 20px;
}
.tab-content > ul {
  list-style: disc;
}
.tab-content > ul ul {
  padding-left: 25px;
  list-style: lower-alpha;
}
.tab-content table {
  width: 302px;
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
}
.tab-content table tr th {
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ababab));
  background: -ms-linear-gradient(bottom, #eeeeee, #ababab);
  background: -moz-linear-gradient(center bottom, #eeeeee 0, #ababab 100%);
  background: -o-linear-gradient(#ababab, #eeeeee);
  text-align: center;
}
.tab-content table tr td {
  padding-left: 7px;
  background: #eee;
}
.tab-content table tr td,
.tab-content table tr th {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  height: 27px;
  line-height: 27px;
}
.tab-content table tr td:last-of-type,
.tab-content table tr th:last-of-type {
  border-right: none;
}
